*{
    
}
h1{
    text-align: center;
    margin: 1rem;
    color: #326273;
    font-size: 3rem;
}

p{
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
    color: #326273;
}

.billDiv{
    display: block;
}

.cashDiv{
    display: none;
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 20rem;
    height: 2rem;
    border-color: #326273;
}

.btn{
    color: #326273;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;

}

.btn:hover{
    background-color: #326273;
    color: #EEEEEE;
    border-radius: 0.5rem;
}


.tableDiv{
    display: none;
}

table{
    
    border: 2px solid #326273;
    margin: 2rem auto 3rem auto;
    color: #326273;
    
}

tr,th{
    border: 1px solid #326273;
    
}
button{
    display: block;
    margin: auto;

}
th{
    min-width: 5rem;
    height: 2rem;
}

.output{
    text-align: center;
    margin-top: 2rem;
    color:#326273;
    font-size: 2rem;
}


.footer{
    
    background-color: #326273;
    position: absolute;
  bottom: 0;
  width: 100%;
  height: auto
}

.footer ul{
    display: flex;
    list-style: none;
    bottom: 0;
    justify-content: center;

}

.footer li{
    margin: auto 2rem 0 2rem;
    padding: 0  2rem;
    font-size: 2rem;
    
}

.footer p{
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

i{
    color: white;
}