*{
    background-color: #EEEEEE;
}
h1{
    text-align: center;
    margin: auto;
    color: #326273;
    font-size: 3rem;
}
input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 20rem;
    height: 2rem;
    border-color: #326273;
}

.btn{
    color: #326273;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;

}

.btn:hover{
    background-color: #326273;
    color: #EEEEEE;
    border-radius: 0.5rem;
}

table{
    
    border: 2px solid #326273;
    margin: 2rem auto 3rem auto;
    color: #326273;
    
}

tr,th{
    border: 1px solid #326273;
    
}
button{
    display: block;
    margin: auto;

}
th{
    min-width: 5rem;
    height: 2rem;
}

.output{
    text-align: center;
    margin-top: 2rem;
    color:#326273;
    font-size: 2rem;
}